
  <% idp = photo.blob_id %>
  <div class="modal" id='showpictures<%= idp %>' role="dialog" aria-labelledby='showpictures<%= idp %>'>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <%# <h5 class="modal-title" id="showpicturesLabel">Modal title</h5> %>
            </div>
            <div class="modal-body">
              <button type="button" class="btn-close border-bottom-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= cl_image_tag photo.key, class: "d-block w-100" %>
              <%# <%= render 'trips/carousel' photo: photo %>
            </div>
          </div>
        </div>
      </div>
