




<div class="position-absolute text-right floating-action-menu" style="bottom: 10px; right: 400px;">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="fas fa-plus floating-action-menu floating-button"></i></span>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "350px";
  document.getElementById("main").style.marginRight = "350px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginRight= "0";
}
</script>
