

<button class="open-button" onclick="openForm()">Checklist</button>

<div class="chat-popup" id="myForm">
  <div class="check-container">
    <p class="checklist-head top-border ">My checklist!</p>


    <%# <textarea placeholder="Type message.." name="msg" required></textarea> %>
      <div id="tasks">
          <div class="" data-controller="tasks">
              <%= render @trip.tasks %>
            </div>

        </div>
</div>
    <%= render "tasks/form", task: @task %>
    <button type="button" class="closebtn close fa-solid fa-xmark" onclick="closeForm()"></button>
  </div>
</div>



<%# <div class="position-absolute text-right floating-action-menu" style="bottom: 10px; right: 400px;">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="fas fa-plus floating-action-menu floating-button"></i></span>
</div> %>

<script>
// function openNav() {
//   document.getElementById("mySidenav").style.width = "350px";
//   document.getElementById("main").style.marginRight = "350px";
// }

// function closeNav() {
//   document.getElementById("mySidenav").style.width = "0";
//   document.getElementById("main").style.marginRight= "0";
// }

function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}


</script>
