<%= render "shared/navbar2" %>

<div>
  <div id="trip-show-map-container">
    <img id="trip-show-map" class="h-100" src="https://static-maps.alltrails.com/production/at-map/22685628/trail-singapore-central-macritchie-reservoir-and-treetop-walk-loop-at-map-22685628-1656091103-414w200h-en-US-i-2.png" alt="">
  </div>
</div>



<button type="button" class="btn text-muted text-decoration-underline" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  4.8 (<span id="main_review_count"><%= @trip.trail.reviews.count %> reviews</span>)
</button>
<%= render "shared/leavereview" %>
