// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$trailgreen: #064a2a;
$trailyellow: #f8d539;
$traillightgreen: #15623e;
$trailpalegreen: #D0E3CC;
$trailbrown: #544d4c
