// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Define fonts for body and headers
$body-font: 'GTWalsheimPro';
$headers-font: 'GTWalsheimProMedium';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'GTWalsheimPro';
  src: font-url('GTWalsheimPro-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'GTWalsheimProBold';
  src: font-url('GTWalsheimProBold.ttf') format('truetype')
}

@font-face {
  font-family: 'GTWalsheimProMedium';
  src: font-url('GTWalsheimPro-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'GTWalsheimProLight';
  src: font-url('GTWalsheimPro-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Jonesy';
  src: font-url('JonesyScript.ttf') format('truetype')
}
