// Specific CSS for your home-page

 body {
  background-color: white;
 }

.margin-title-lg {
  padding-bottom: 30px;
  padding-top: 65px;
  // margin-top: 30px;
  margin-left: 200px;
  color: $traillightgreen;
}

.no-bookmarks {
  font-size: $p-font-size;
  color: $trailbrown;
  margin-left: 200px;
}
