// Specific CSS for your home-page


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 200px;
  margin-right: 200px;
  align-items: center;
  min-height: 0
 }

 p {
  line-height: 0.1;
 }

 .my-card-link {
    text-decoration: none !important;
    color: black;
    // margin: 0 !important;
 }

 .my-card-link:hover {
  text-decoration: none !important;
  color: black;
}

.my-card-link:visited {
  text-decoration: none !important;
  color: black;
}

.margin-title-lg {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: 200px;
}

.image-container {
  overflow: hidden;
  border-radius: 3px;
}

.card-image {
  height: 100%;
  width: 100%;
  min-width: 100%;
  opacity: 0.85;
  overflow: hidden;
  transition: transform .3s ease-in-out;
}

.card-image:hover {
  opacity: 0.85;
  transform: scale(1.07);
}

.title-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body {
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.card {
  border: 0px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media(max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
  }

  .margin-title-lg {
    margin-left: 30px;
  }

}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
  }

  .margin-title-lg {
    margin-left: 30px;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;

    .margin-title-lg {
      margin-left: 30px;
    }
  }
}

@media(max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }

  .margin-title-lg {
    margin-left: 20px;
  }
}
