#add-trip {
  position: relative;
}

#date_card {
  position: absolute;
  top: 75px;
  // width: 20rem;
  z-index: 1;
}

#trail_img{
  object-position: center;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

#create-trip-btn {
  width: 150px;
}

#carousel-background {
  background-color: rgb(26, 25, 25);
}

#show-pg-user-avatar {
  font-size: 3rem;
}

#show-pg-review-card {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cust-container {
  margin-left: 200px;
  margin-right: 200px;
 }

@media(max-width: 768px) {
  .cust-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media(max-width: 576px) {
  .cust-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
