#add-trip {
  position: relative;
}

#date_card {
  position: absolute;
  top: 2.2rem;
  right: 0px;
  // width: 20rem;
}

#trail_img{
  object-position: center;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.bookmark-show {
  color: black;
  font-size: 23px;
}

.bookmark-show {
  color: black;
  font-size: 23px;
}
