#trip-show-map-container {
  position: fixed;
  height: calc(100% - 56px);
  width: 40%;
  overflow-x: auto;
}

#right-column {
  width: 60%;
  margin-left: auto;
}

#left-column {
  width: 40%;
}

#trip-map {
  position: sticky;
  top: 50px; height: calc(100vh - 50px);
  width: 100%;
}

#info-bar {
  background-color: $trailpalegreen;
  color: $traillightgreen;
}

.friend-avatar {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: $traillightgreen;
  color: white;
}

.trip-pg-font-size {
  font-size: 0.9rem;
}

.trip-pg-star-size {
  font-size: 1.2rem;
}

#weather-icon {
  font-size: 30px;
}

#trip-date {
  font-size: 22px;
}

#trip_trail_img{
  object-position: center;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.add-photos-btn {
  margin-top:10px;
  background-color: $trailgreen;
  padding-right: 12px;
  padding-left: 12px;
  height: 45px;
  border-radius: 5px;
  color: $trailyellow;
  transition: all .15s ease-out;
  font-size: 0.9rem;
  margin-left: 30px;
  height: 2rem;
  border: none;
}

.add-photos-btn:hover {
  background-color: $trailgreen;
  transition: all .15s ease-out;
  color: $trailyellow;
  opacity: .8;
}

#trip_photo {
  width: 100% !important;
  height: 2.1rem;
}

.trips-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.trip-picture {
  width: 100%;
  height: 100%;
}
.trip-picture:hover {
  opacity: 0.85;
  transform: scale(1.07);
}
