<div class= "checklist-forms row">
  <%= simple_form_for [@trip, @task] do |f| %>
    <div class="d-flex justify-content-around align-items-center">
          <%= f.input :description,
                      label: false,
                      placeholder: "ADD AN ITEM",
                      input_html: { class: "custom-add-input"} %>

        <%# <%= f.button :submit do, "ADD TO CHECKLIST", class: "submit" %>


      <%= button_tag type: 'submit', class:"custom-add-button" do %>
          <i class="fas fa-plus"></i>
      <% end %>
    </div>
  <% end %>
</div>
