
<div class="chat-popup" id="myForm">
  <div class="check-container">
    <p class="checklist-head top-border ">My checklist!</p>
      <div id="tasks">
        <div class="" data-controller="tasks">
          <%= render @trip.tasks %>
        </div>
      </div>
  </div>
    <%= render "tasks/form", task: @task %>
    <button type="button" class="closebtn close fa-solid fa-xmark" onclick="closeForm()"></button>
  </div>
