<div class="footer">
  <div class="footer-container">
    <div class="newsletter">
      <h6>
        Sign up for the newsletter to get the latest trails
      </h6>

      <form class="footer-form">
        <input placeholder="Your email" type="email" name="EMAIL" id="EMAIL" tabindex="-1" required="" class="input-footer">
        <button type="submit" name="subscribe" aria-label="Subscribe" class="submit"><i class="fa-solid fa-chevron-right"></i></button>

      </form>
  </div>

  <div class="footer-logo"><img src="https://res.cloudinary.com/ddaoe4tdm/image/upload/v1669529625/taketrails_%E3%82%A2%E3%83%BC%E3%83%88%E3%83%9C%E3%83%BC%E3%83%89_1_1_ui5jmp.png" width="150px"></div>
</div>
