


<!-- Modal -->
<div class="modal fade rounded-2" id="leavereview" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable rounded-2">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title " id="staticBackdropLabel"></h1>
        <button type="button" class="btn-close border-bottom-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2><strong>Leave a review</strong></h2>
        <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
        <%= render "reviews/reviewform" %>

        <br><br>
        <%# Review list %>
          <% if @trip.reviews.blank? %>
            <h2><strong data-insert-in-list-target="count"></h2>
          <% else %>
            <h2><strong data-insert-in-list-target="count"><%= @trip.reviews.count %> reviews</strong></h2>
          <% end %>
        <div data-insert-in-list-target="items">
          <%= render "reviews/reviews" %>
        <%# end of reivew list %>
        </div>
      </div>
    </div>
  </div>
</div>
