
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="password-title d-flex">
        <h4>Lost your password?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <p class="password-text">Please enter your email address. <br>You will receive a link to create a new password via email.</p>

      <div class="modal-body">

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :email,
                            label: false,
                            required: true,
                            autofocus: true,
                            placeholder: "Email",
                            input_html: { autocomplete: "email", class: "password-label" } %>
              </div>
              <div class="form-actions mb-3">
                <%# <%= f.button :submit, "RESET PASSWORD", class:"trail-btn password-label"  %>
                <a class="btn trail-btn password-label" onclick="myFunction()">RESET PASSWORD</a>
                <br><div id="message" class="message"></div>

              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
function myFunction() {
  document.getElementById("message").innerHTML = "Reset link sent! Please check your email.";
}
</script>
