

#main {
  transition: margin-right .5s;
  padding: 0px;
  z-index: 1000;
}

.top-border {
  background-image: url('https://res.cloudinary.com/ddaoe4tdm/image/upload/v1669772201/Untitled_mlfkj4.svg');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: top center, 40%, 50%;
}

.checklist-head {
  z-index: 10;
  font-family: 'Jonesy';
  color: #568B57;
  font-style: normal;
  width:100%;
  margin: auto;
  margin-top:5px;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: .06em;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 0.7px dashed #432f29;
  text-align: center;
}

.check-list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 8fr;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 10px;
}

.form-check-input {
  width: 1.2em !important;
  height: 1.2em !important;
  margin-top: 0px !important;
  background-color: white !important;
  color: black;
}


.form-check-input:checked {
  background-color: #568B57 !important;
  border-color: #568B57 !important;
}



.form-check-input:focus {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}



  .checklist-forms {
    width:280px !important;
    margin: auto;
    // margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    padding-top: 20px;
    background-color: white;
  }

  .custom-add-input {
    display: flex;
    width: 200px;
    padding-left: 10px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;

    .form-control:focus {
      border-color: #568B57 !important;
    }
  }

  input#task_description {
    border: 1px solid #568B57;
  }

  .custom-add-input::placeholder {
    opacity: .5;
  }

  .custom-add-button {
    background-color: white !important;
    font-size: 14px;
    color: $trailgreen;
    height: 30px;
    width: 30px;
    bottom: 3px;
    line-height: 1 !important;
    z-index: 4;
    border: none;
    padding: 0px;
  }

  .form-control:focus {
    border-color: $trailgreen !important;
  }


  /* Button used to open the checklist */
.open-button {
  z-index:2000;
  background-color: $trailgreen;
  color: white;
  // padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 120px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 15px;

}

/* The popup checklist - hidden by default */
.checklist-popup {
  display: none;
  position: fixed;
  width: 300px;
  bottom: 90px;
  right: 40px;
  border: 0px solid #f1f1f1;
  z-index: 9;
  background-color: $trailgreen;
  border-radius: 5px;
}

/* Add styles to the form container */
.check-container {
  width: 280px;
  max-height: 400px;
  padding: 20px;
  padding-top: 0px;
  margin:auto;
  margin-top:10px;
  background-color: white;
  overflow: scroll;
}

/* Full-width textarea */
.check-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.check-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.check-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.check-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $trailyellow;
  position: absolute;
  top: 20px;
  left: -15px;
  border: 0px !important;


  .fa-solid {
    color: black;
    font-size: 2em;
  }
}
