
.flex-wrapper {
  display: flex;
  min-height: 94vh;
  flex-direction: column;
  justify-content: space-between;
}


.footer {
  background-color: $trailgreen;
  margin:auto;
  min-height: 100px;
  color: white;
  margin-top:60px;
}

.footer-container {

  display: flex;

  width:85%;
  margin: auto;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .newsletter {
    justify-content: center;
    margin-top: 25px !important;
  }
}

@media screen and (max-width: 640px) {
  .newsletter h6 {
    margin-bottom: 15px !important;
  }

    .input-footer {
      width: 300px !important;
    }
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 700px;
  margin-top: 15px;

  h6 {
    margin-bottom: 0px;
  }
}

.newsletter-form {
  display: flex;
  flex-direction: row;
}

.footer-form {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
  border-radius: 5px !important;
  border: 1px solid white !important;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.input-footer {
  /* Tell the input to use all the available space */
  flex-grow:2;
  padding-left: 10px;
  /* And hide the input's outline, so the form looks like the outline */
  width: 200px;
  height: 40px;
  border: 0px !important;

}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.submit {
  /* Just a little styling to make it pretty */
  border:0px;
  background:white;
  color:black;
}

.footer-logo {
margin-top: 40px;
margin-bottom: 30px;
}
