// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
//   font-size: 13px;
//  box-shadow: 1px 1px 5px rgb(211, 211, 211);
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }



//nav bar here



// .affix{
//   width:100%;
//   top:0;
//   z-index: 10;
// }

.main-nav {
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  top:0;
  display: grid;
  grid-template-columns: 12% 40% 48%;
  align-items: center;
  overflow: hidden;
  z-index: 4;
  border-bottom: 1px solid rgb(197, 197, 197);
  }

  .nav-primary{
    display: flex;
  }

  .p5 {
    display: flex;
    border-right: 1px solid rgb(197, 197, 197);
    height:50px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    letter-spacing: .1em;

    a {
      font-size: 13px;
      align-items: center;
      text-decoration: none;
      letter-spacing: .1em;
      background-image: linear-gradient($trailgreen,$trailgreen);
      background-size: 0% 0.1em;
      background-position-y: 100%;
      background-position-x: 50%;
      background-repeat: no-repeat;
      transition: background-size 0.2s ease-in-out;
      text-decoration: none;
    }
    a:hover,
    a:focus,
    a:active {
      background-size: 100% 0.1em;
      color: $trailgreen;
    }
  }

  .p5-sign{
    font-size: 13px;
      align-items: center;
      text-decoration: none;
      letter-spacing: .1em;
      background-image: linear-gradient($trailgreen,$trailgreen);
      background-size: 0% 0.1em;
      background-position-y: 100%;
      background-position-x: 50%;
      background-repeat: no-repeat;
      transition: background-size 0.2s ease-in-out;
      text-decoration: none;
  }
  .p5-sign:hover,
  .p5-sign:focus,
  .p5-sign:active {
      background-size: 100% 0.1em;
      color: $trailgreen;
    }



  .nav-logo {
    background-image: url("https://res.cloudinary.com/ddaoe4tdm/image/upload/v1669529625/taketrails_%E3%82%A2%E3%83%BC%E3%83%88%E3%83%9C%E3%83%BC%E3%83%89_1_1_ui5jmp.png");
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: center;
    display: flex;
    height:50px;
    border-right: 1px solid rgb(197, 197, 197);
    font-family: 'Jonesy';
    font-size: 25px;
    text-align: center;

  }

  .nav-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .user-login{
      width:200px;
      margin-left:20px;
      display: flex;
      justify-content: center;
      height:50px;
      font-size: 13px;
      align-items: center;
      text-decoration: none;
      letter-spacing: .1em;
      background-size:100% 200%;
      background-image:linear-gradient(to bottom, $trailgreen 50%, $trailyellow 50%);
      -webkit-transition:background-position .5s;
      -moz-transition:background-position .5s;
      transition:background-position .5s;
      color: white;


    }
    a {
      text-decoration: none;
    }
    .user-login:hover {
    background-position:0 -100%;
    color: black;
    }
  }
