.password-title {
    margin:35px 35px 10px 35px!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.password-text {
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between

}

.password-label {
  width:93%;
  height:50px;
  margin: auto;
}

#message {
  margin-left: 20px;
  color: red;
}
