abbr {
  display: none;
}

.simpleform-container {
  justify-content: center;
}

.searchbtn {
    margin-top: 10px;
    background-color: #012e19;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: #fdd719;
    transition: all .15s ease-out;
    font-size: 0.9rem;
    // margin-left: 15px;
}

.searchbtn:hover {
  background-color: $trailgreen;
  box-shadow: .1px .1px 5px rgb(192, 191, 191);
  transition: all .15s ease-out;
  color: $trailyellow;
  opacity: .8;
}

.searchbar {
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.filterlabel {
  width: 210px;
  font-size: 15px;
  text-align: center;
}


.msgempty {
  margin-top: 40px;
}

.clearbtncol {
  margin-top: 10px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #012e19 !important;
  color: #012e19;
  transition: all .15s ease-out;
  font-size: 0.9rem;
  padding-top: 9px;
}

.clearbtncol:hover {
  background-color: transparent;
  border: 1px solid #04bb65 !important;
  box-shadow: .1px .1px 5px rgb(192, 191, 191);
  transition: all .15s ease-out;
  color: #04bb65;
  opacity: .8;
  }
